# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production builds
dist/
build/
.next/

# Environment variables
.env
.env.local
.env.*.local

# Turbo
.turbo/

# Misc
.DS_Store
*.log
*.tsbuildinfo
